body {
	background-color: #731f1f;
}

#pagename {
	background-color: brown;
	color: black;
	font-family: serif;
	font-weight: bold;
	text-align: center;
}

#picture {
	height: 700px;
	width: auto;
	background-image: url("castle.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: auto;
}

#directions {
	font-family: Roboto;
	font-weight: bold;
	text-align: center;
	margin: auto;
}

#startbutton {
	font-family: Roboto;
	margin: auto;
	text-align: center;
}

#letsroll {
	background-color: black;
	color: brown;
	font-size: 16px;
	font-weight: bold;
}

#setupdice {
	background-color: brown;
	text-align: center;
	font-weight: bold;
}

#rollresult {
	font-family: Roboto;
	text-align: center;
	background-color: brown;
	font-weight: bold;
	font-size: large;
}

.flex-container {
  display: flex;
  flex-direction: column;
}
