body {
	background-color: #731f1f;
}

#pagename {
	width: 600px;
	background-color: #cb3b3b;
	color: black;
	font-family: Open Sans;
	font-weight: bold;
	text-align: center;
	margin: auto;
}

#picture {
	height: 600px;
	width: 600px;
	background-image: url("castle.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: auto;
}

#directions {
	width: 600px;
	background-color: #663300;
	font-family: Roboto;
	font-weight: bold;
	text-align: center;
	margin: auto;
}

#startbutton {
	margin: auto;
	text-align: center;
}

#letsroll {
	background-color: black;
	color: gray;
	font-size: 16px;
	font-weight: bold;
}

#setupdice {
	text-align: center;

}