body {
	background-color: #394427;
}

#picture {
	background-image: url('dungeon.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	height: auto;
	background-position: center;
}

#intro {
	padding-top: 500px;
	padding-bottom: 100px;
	max-width: 60%;
	height: auto;
	text-align: center;
	color: white;
	font-weight: bolder;
	font-size: xx-large;
	text-shadow: 3px 3px black;
}

#pagename {
	background-color: #BABC77;
	color: black;
	font-family: serif;
	font-weight: bold;
	text-align: center;
	max-width: 100%;
}

#directions {
	font-family: Roboto;
	font-weight: bold;
	text-align: center;
}

#letsroll {
	background-color: black;
	color: white;
	font-size: 16px;
	font-weight: bold;
}

#setupdice {
	background-color: #565033;
	text-align: center;
	font-weight: bold;
	max-width: 100%;
}

#rollresult {
	font-family: Roboto;
	text-align: center;
	background-color: #856E44;
	font-weight: bold;
	font-size: large;
	max-width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
